<div class="form-inline d-inline-block col-12 col-lg-auto px-0 mb-3 mb-lg-0">
    <input class="form-control w-100"
           [(ngModel)]="searchText"
           name="search"
           type="search"
           placeholder="Search"
           aria-label="Search" />
</div>

<button type="button"
        class="btn btn-dark col-12 col-lg-auto mb-3 mb-lg-0"
        id="download"
        (click)="downloadData()"
        [disabled]="isButtonDisabled()">Download
</button>
<button type="button"
        class="btn btn-dark col-sm-12 col-lg-auto mb-3 mb-lg-0"
        (click)="deleteSelected()"
        [disabled]="isButtonDisabled()">Delete Selected
</button>

<div class="info-wrapper mt-lg-3" (window:resize)="onResize($event)">
    <app-user-cards [user-data]="userData | filter : searchText : 'firstName'"
                    (deletion)="deleteUser($event)"
                    *ngIf="isMobile"
    ></app-user-cards>
    <app-user-table [user-data]="userData | filter : searchText : 'firstName'"
                    (deletion)="deleteUser($event)"
                    *ngIf="!isMobile"
    ></app-user-table>
</div>

 <nav class="navbar navbar-dark bg-dark fixed-bottom justify-content-between">
        <span class="navbar-text">{{selected()}}</span>
 </nav>