.form-control.ng-invalid {
    border-color: #dc3545;
    border-left-width: 5px;
    color: #dc3545;
}

.form-control.ng-invalid::placeholder {
    color: #dc3545;
}

textarea {
    resize: none;
    height: 150px;
}