<h3>User details</h3>
<div class="col-12 float-left">
    <button href="#" 
            class="btn btn-dark float-left col-12 col-lg-auto" 
            id="edit" 
            (click)="edit = !edit"
    >Edit</button>
</div>

<form #userForm="ngForm">
  <div class="input-group col-12 col-lg-6 float-left mt-3">
    <input type="text"
           required class="form-control w-100" 
           [(ngModel)]="user.firstName" 
           name="firstName"
           [disabled]="!edit"
           placeholder="Name"/>
  </div>
  <div class="input-group col-12 col-lg-6 float-left pl-lg-0 mt-3">
    <input type="text" 
           required 
           class="form-control w-100" 
           [(ngModel)]="user.lastName"
           name="lastName" 
           [disabled]="!edit"
           placeholder="Last name"/>
  </div>
  <div class="input-group float-left col-12 col-lg-6 mt-3">
    <input type="text" 
           class="form-control w-100" 
           [(ngModel)]="user.age" 
           name="age" 
           [disabled]="!edit"
           placeholder="age"/>
  </div>
  <div class="input-group float-left col-12 mt-3">
    <textarea class="form-control w-100" 
              [(ngModel)]="user.description" 
              name="description"
              [disabled]="!edit"
              placeholder="Description"
    ></textarea>
  </div>

  <div class="button-wrapper col-12 px-3">
      <button type="button" 
              id="back"
              class="btn btn-outline-dark float-left col-12 col-lg-auto mt-3" 
              (click)="back()"
      >Back</button>
      <button type="button"
              id="save"
              class="btn btn-dark float-right col-12 col-lg-auto mt-3" 
              [disabled]="!userForm.form.valid" 
              (click)="saveChanges()"
      >Save</button>
  </div>
</form>