<base href="/">
<nav class="navbar navbar-dark bg-dark fixed-top justify-content-between">
  <div class="container">
      <a routerLink="/" class="navbar-brand">{{title}}</a>
  </div>
</nav>
<div class="container">
  <div class="user-wrapper">
    <router-outlet></router-outlet>
  </div>
</div>