<div class="card-columns">
  <div class="card text-left" *ngFor="let user of userData">
      <div class="card-body">
        <h4 class="card-title user-name">{{user.firstName}} {{user.lastName}}</h4>
        <h5 class="card-subtitle mb-2 text-muted">{{user.age}}</h5>
        <p class="card-text">{{user.description}}</p>
        <div class="card-block text-right user">
            <div class="float-left">
              <input type="checkbox" [(ngModel)]="user.checked" aria-label="Select user" />
            </div>
            
            <a routerLink="/user/{{user.id}}" class="card-link show">Show</a>
            <a href="#" class="card-link delete" (click)="deleteUser(user)">
              Delete
              <span class="oi oi-trash"></span>
            </a>
        </div>
      </div>
    </div>          
</div>