<div class="modal-header">
  <h4 class="modal-title">Confirm action</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss(false)">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <p>Do you want to proceed?</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-outline-dark" (click)="activeModal.close(false)">No</button>
  <button type="button" class="btn btn-dark" (click)="activeModal.close(true)">Yes</button>
</div>