<table class="table">
  <thead>
    <tr>
      <th>
        <input type="checkbox" [(ngModel)]="allSelected" (click)="selectAll()" aria-label="Select all"/>
      </th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of userData" class="user">
        <td scope="row">
            <input type="checkbox" [(ngModel)]="user.checked" aria-label="Select user"/>
        </td>
      <td class="user-name">{{user.firstName}} {{user.lastName}}</td>
      <td class="text-right">
        <a routerLink="/user/{{user.id}}" class="card-link show">Show</a>
        <a href="#" class="card-link delete" (click)="deleteUser(user)">
            Delete
            <span class="oi oi-trash"></span>
        </a>
      </td>
    </tr>
  </tbody>
</table>